* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
}

.home {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background-size: 95%;
}

.logo {
  color: white;

  font-size: 48px;

  text-shadow:
    3px 3px 0px #8a78d1,
    6px 6px 0px rgba(0,0,0,0.2);
}
.hero {
  position: absolute;

  top: 80px;

  left: 50%;
  transform: translateX(-50%);

  text-align: center;

  z-index: 10;
}

.tagline {
  margin-top: 18px;

  font-family: "Press Start 2P", cursive;
  font-size: 12px;

  color: #f7f6e8;

  text-shadow:
    0 0 6px rgba(145, 214, 96, 0.8),
    2px 2px 0 #4a6b35,
    3px 3px 0 rgba(0, 0, 0, 0.25);

  letter-spacing: 1px;

  image-rendering: pixelated;
}
.mobile-screen {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 24px;

  background: #d7f0c6;
}

.mobile-screen h1 {
  margin-bottom: 16px;
}

.mobile-screen p {
  max-width: 300px;
  line-height: 1.6;
}
.github-btn {
  position: absolute;

  top: 25px;
  right: 25px;

  min-width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #b6b1ff;

  border: 4px solid #8a78d1;
  border-radius: 8px;

  color: white;

  font-family: "Press Start 2P", cursive;
  font-size: 12px;

  text-decoration: none;

  text-shadow:
    2px 2px rgba(0,0,0,0.2);

  box-shadow:
    0 5px 0 #8a78d1,
    0 8px 0 rgba(0,0,0,0.15);

  transition: all 0.1s ease;

  z-index: 100;
}
.github-icon {
  width: 32px;
  height: 32px;

  image-rendering: pixelated;
}
.github-btn:hover {
  transform: translateY(-2px);
}
.github-btn:active {
  transform: translateY(3px);

  box-shadow:
    0 2px 0 #8a78d1;
}
.bird {
  position: absolute;

  width: 40px;

  top: 180px;
  left: -60px;

  image-rendering: pixelated;

  animation:
    flyBird 18s linear infinite,
    floatBird 2s ease-in-out infinite;
}

@keyframes flyBird {
  from {
    left: -60px;
  }

  to {
    left: 110%;
  }
}

@keyframes floatBird {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
.enter-btn {
  position: absolute;

  top: 65%;
  left: 50%;

  transform: translate(-50%, -50%);

  padding: 18px 30px;

  font-family: "Press Start 2P", cursive;

  border: 4px solid #a9a4ff;
  border-radius: 12px;

 background: #b6b1ff;

  color: white;
  box-shadow:
  0 6px 0 #8a78d1,
  0 10px 0 rgba(0,0,0,0.15);

text-shadow:
  2px 2px 0 rgba(0,0,0,0.25);

transition: all 0.1s ease;

  cursor: pointer;
}
.enter-btn:hover {
  transform:
    translate(-50%, -53%);
}
.enter-btn:active {
  transform:
    translate(-50%, -44%);

  box-shadow:
    0 2px 0 #8a78d1;
}