.setup-page {
  width: 100vw;
  height: 100vh;

  position: relative;

  overflow: hidden;
}

.setup-background {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;

  z-index: -1;
}

.setup-content {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  gap: 20px;
}

.setup-title {
  color: white;

  font-size: 48px;

  text-shadow:
    3px 3px 0px #8a78d1,
    6px 6px 0px rgba(0,0,0,0.2);
}

.setup-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.setup-input {
  width: 320px;
  height: 58px;

  padding: 0 20px;

  background: #7b4f2a;

  border: 4px solid #4a2d16;
  border-radius: 8px;

  color: #f8e9c8;

  font-family: "Press Start 2P", cursive;
  font-size: 12px;

  text-shadow:
    1px 1px #3a2414;

  box-shadow:
    inset 0 3px 0 #a36b3d,
    inset 0 -3px 0 #5b351b,
    4px 4px 0 rgba(0,0,0,0.25);

  outline: none;
}

.setup-button {
  min-width: 220px;
  height: 58px;

  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #7b4f2a;

  border: 4px solid #4a2d16;
  border-radius: 8px;

  color: #f8e9c8;

  font-family: "Press Start 2P", cursive;
  font-size: 14px;

  text-shadow:
    2px 2px #3a2414;

  box-shadow:
    inset 0 3px 0 #a36b3d,
    inset 0 -3px 0 #5b351b,
    4px 4px 0 rgba(0,0,0,0.25);

  cursor: pointer;

  image-rendering: pixelated;

  transition: transform 0.1s ease;
}
.setup-button:hover {
  transform: translateY(-2px);
}
.setup-button:active {
  transform: translateY(2px);

  box-shadow:
    inset 0 2px 0 #a36b3d,
    inset 0 -2px 0 #5b351b,
    1px 1px 0 rgba(0,0,0,0.25);
}